
body {
  background-color:hsl(330, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vhpx;
  text-align: center;
  flex-direction: column;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
}
.content {
  position: relative;
  left: -60px;
}
img {
  width: 260px;
  height: auto;
  padding: 12px;
  border-radius: 18px;
}
h1 {
  font-size: 30px;
  color: hsl(24, 5%, 18%);
}
p1 {
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
  
}
th, td {
  border-top: 1px solid black;
  border-bottom: 1px solidblack;
  border-left: none;
  border-right: none;
  padding: 8px;
  text-align: left;
}
th{
  background-color: black;
}
tr:first-child th, tr:first-child td{
  border-top: none;
}
.col {
  text-align: left;
  position: relative;
  left: 40px;
  font-size: 6px;
}
h3 {
  color: hsl(14, 45%, 36%);
}
h4 {
  color: hsl(14, 45%, 36%); 
}
h5 {
  color: hsl(14, 45%, 36%);  
}
li{
  margin-bottom: 4px;
}
h2 {
color:  hsl(332, 51%, 32%);
font-size: 8px;
position: relative;
  top: 1px;
  left: 29px;
}
h1 {
  font-size: 16px;
  position: relative;
  top: -18px;
  left: 11px;
}
p1 {
  font-size: 6px;
  left:35px;
  position: relative;
  top: -32px;
}
.prep {
  text-align: left;
  position: relative;
  left: -30px;
  font-size: 6px; 
  background-color: hsl(330, 100%, 98%);
display: inline-block;
align-items: center;
height: 60px;
padding: 0px 80px;
margin-top: -12px; 
}


