
body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
}
.card{
  margin-top: 100px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  height: 520px;
}
.profile-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.but1 {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: -30px;
}

.but2 {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 19px 95px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: -40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.but3 {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px 115px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: -50px;
} 

.but4 {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: -60px;
}

.but5 {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px 110px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 12px 10px;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  top: -70px;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
}
h2 {
  font-size: 14px;
  position: relative;
  top: -20px;
  color: hsl(75, 94%, 57%);
  font-weight: normal;
}
p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  position: relative;
  top: -24px;
}